@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set default colors */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Apply background and text colors */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
